In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
data = pd.read_pickle('../../Data/Kaggle/CleanData1/0.pkl')
data.describe()

,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,Returns
count,1956959.0,1.956959e+06,1.956959e+06,1.956959e+06,1.956959e+06,1.956959e+06,1.956959e+06,1.956959e+06,1.956959e+06,1.956959e+06
mean,0.0,1.857225e+02,7.648529e+01,7.658393e+01,7.638241e+01,7.648569e+01,1.884794e+03,7.648355e+01,1.657946e-05,3.542257e-06
std,0.0,4.356657e+02,1.401760e+02,1.403643e+02,1.399784e+02,1.401748e+02,3.039701e+03,1.401729e+02,5.451259e-03,1.802494e-03
min,0.0,1.000000e+00,4.127000e+00,4.139800e+00,4.120000e+00,4.122500e+00,1.000000e-04,4.128648e+00,-3.016350e-01,-1.018474e-01
25%,0.0,1.700000e+01,1.296990e+01,1.298370e+01,1.295200e+01,1.297000e+01,4.213600e+02,1.296828e+01,-1.804194e-03,-6.188091e-04
50%,0.0,4.500000e+01,1.810000e+01,1.811400e+01,1.808560e+01,1.810000e+01,1.017130e+03,1.809976e+01,-2.269275e-05,0.000000e+00
75%,0.0,1.520000e+02,3.069665e+01,3.072105e+01,3.067015e+01,3.069700e+01,2.185431e+03,3.069490e+01,1.773746e-03,6.436806e-04
max,0.0,3.205300e+04,6.911170e+02,6.917700e+02,6.895000e+02,6.911495e+02,2.124004e+05,6.905747e+02,3.581954e-01,1.124267e-01

In [12]:
start, end = 0, float('inf')
for i in range(14):
    data = pd.read_pickle('../../Data/Kaggle/CleanData1/' + str(i) + '.pkl')
    l, r = data.index[0], data.index[-1]
    start = max(start, l)
    end = min(end, r)
    print(l, r)
start, end

1514764920 1632182400
1514764920 1632182400
1514764920 1632182400
1523956320 1632182400
1555079700 1632182400
1514764920 1632182400
1514764920 1632182400
1514764920 1632182400
1525853280 1632182400
1514764920 1632182400
1525965720 1632182400
1514764920 1632182400
1518825240 1632182400
1517953080 1632182400

(1555079700, 1632182400)

In [14]:
data = data[data.index >= 1555079700]

In [17]:
for i in range(14):
    data = pd.read_pickle('../../Data/Kaggle/CleanData1/' + str(i) + '.pkl')
    data = data[data.index >= 1555079700]
    data.to_pickle('../../Data/Kaggle/CleanData2/' + str(i) + '.pkl')