In [1]:
%load_ext autoreload
%autoreload 2
#%reload_ext autoreload

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
data_folder = "../../Data/Kaggle/"

In [3]:
asset_details = pd.read_csv(data_folder + 'asset_details.csv')
asset_details.sort_values(by=['Asset_ID'])

    Asset_ID    Weight        Asset_Name
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
0          2  2.397895      Bitcoin Cash
10         3  4.406719           Cardano
13         4  3.555348          Dogecoin
3          5  1.386294            EOS.IO
5          6  5.894403          Ethereum
4          7  2.079442  Ethereum Classic
11         8  1.098612              IOTA
6          9  2.397895          Litecoin
12        10  1.098612             Maker
7         11  1.609438            Monero
9         12  2.079442           Stellar
8         13  1.791759              TRON

In [4]:
data = pd.read_pickle(data_folder + 'clean data/1.pkl') # BTC
data.head()

,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,Returns
timestamp,,,,,,,,,,
1514764920,1.0,235.0,13835.036,14052.3,13680.00,13828.102,31.046432,13840.362591,-0.015037,-0.001594
1514764980,1.0,528.0,13823.900,14000.4,13601.00,13801.314,55.061820,13806.068014,-0.010309,-0.001937
1514765040,1.0,435.0,13802.512,13999.0,13576.28,13768.040,38.780529,13783.598101,-0.008999,-0.002411
1514765100,1.0,742.0,13766.000,13955.9,13554.44,13724.914,108.501637,13735.586842,-0.008079,-0.003132
1514765160,1.0,554.0,13717.714,14000.7,13520.00,13717.112,70.805776,13706.952030,-0.004422,-0.000568

In [5]:
import AlphaCode as ac

In [6]:
# data2 = ac.get_alpha(data)
# data2.to_pickle('../../Data/Kaggle/alpha data/1.pkl')

In [9]:
stock = ac.Alphas(data)

In [27]:
temp = stock.alpha084()
temp

timestamp
1514764920             NaN
1514764980             NaN
1514765040             NaN
1514765100             NaN
1514765160             NaN
                  ...
1632182160    4.134499e-31
1632182220    1.753062e-84
1632182280    3.766745e-81
1632182340    2.050203e+34
1632182400    5.056877e+21
Length: 1956959, dtype: float64

In [28]:
temp.isna().sum()

34

In [31]:
ac.correlation(ac.ts_rank((stock.high + stock.low) / 2, 4), ac.ts_rank(stock.volume, 10), 7).isna().sum()

16852

In [32]:
ac.ts_rank(stock.volume, 10)

timestamp
1514764920     NaN
1514764980     NaN
1514765040     NaN
1514765100     NaN
1514765160     NaN
              ...
1632182160     4.0
1632182220     7.0
1632182280     6.0
1632182340    10.0
1632182400     9.0
Name: Volume, Length: 1956959, dtype: float64

In [14]:
ac.ts_sum(stock.close, 5), ac.ts_sum(stock.close, 20)

(timestamp
 1514764920              NaN
 1514764980              NaN
 1514765040              NaN
 1514765100              NaN
 1514765160     68839.482000
                   ...
 1632182160    214810.145717
 1632182220    214690.317681
 1632182280    214556.736253
 1632182340    214588.530538
 1632182400    214605.820714
 Name: Close, Length: 1956959, dtype: float64,
 timestamp
 1514764920              NaN
 1514764980              NaN
 1514765040              NaN
 1514765100              NaN
 1514765160              NaN
                   ...
 1632182160    856313.242717
 1632182220    856436.595931
 1632182280    856494.220217
 1632182340    856874.382360
 1632182400    857173.251110
 Name: Close, Length: 1956959, dtype: float64)

In [57]:
res = data2.isna().sum()
for i, r in enumerate(res):
    print(data2.columns[i], r)

Asset_ID 0
Count 0
Open 0
High 0
Low 0
Close 14
Volume 0
VWAP 0
Target 0
Returns 0
alpha001 23
alpha002 0
alpha003 0
alpha004 8
alpha005 14
alpha006 0
alpha007 45
alpha008 14
alpha009 19
alpha010 19
alpha011 21
alpha012 19
alpha013 23
alpha014 3
alpha015 2
alpha016 4
alpha017 28
alpha018 23
alpha019 249
alpha020 15
alpha021 0
alpha022 38
alpha023 0
alpha024 20
alpha025 19
alpha026 2
alpha027 6
alpha028 14
alpha029 29
alpha030 22
alpha031 20
alpha032 253
alpha033 14
alpha034 19
alpha035 34
alpha036 226
alpha037 219
alpha038 9
alpha039 249
alpha040 301
alpha041 0
alpha042 14
alpha043 38
alpha044 0
alpha045 401161
alpha046 19
alpha047 19
alpha049 19
alpha050 15
alpha051 19
alpha052 239
alpha053 23
alpha054 14
alpha055 0
alpha057 14
alpha060 28
alpha061 0
alpha062 0
alpha064 0
alpha065 0
alpha066 2043
alpha068 0
alpha071 15
alpha072 0
alpha073 16
alpha074 0
alpha075 0
alpha077 0
alpha078 64
alpha081 0
alpha083 132
alpha084 34
alpha085 16875
alpha086 0
alpha088 2
alpha092 18
alpha094 151
alpha095 0
alpha096 12
alpha098 0
alpha099 0
alpha101 14