In [1]:
%load_ext autoreload
%autoreload 2
#%reload_ext autoreload

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
data_folder = "../../Data/Kaggle/"

In [3]:
asset_details = pd.read_csv(data_folder + 'asset_details.csv')
asset_details.sort_values(by=['Asset_ID'])

    Asset_ID    Weight        Asset_Name
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
0          2  2.397895      Bitcoin Cash
10         3  4.406719           Cardano
13         4  3.555348          Dogecoin
3          5  1.386294            EOS.IO
5          6  5.894403          Ethereum
4          7  2.079442  Ethereum Classic
11         8  1.098612              IOTA
6          9  2.397895          Litecoin
12        10  1.098612             Maker
7         11  1.609438            Monero
9         12  2.079442           Stellar
8         13  1.791759              TRON

In [4]:
data = pd.read_pickle(data_folder + 'CleanData2/1.pkl') # BTC
data.head()

,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,Returns
timestamp,,,,,,,,,,
1555079700,1.0,393.0,5062.335714,5103.1,5029.93,5064.698571,69.980211,5063.865985,-0.000731,0.000480
1555079760,1.0,385.0,5064.660000,5107.1,5032.67,5064.230000,43.839321,5064.879145,-0.001341,-0.000093
1555079820,1.0,253.0,5063.025714,5106.7,5032.31,5064.100000,17.491115,5063.344522,-0.001508,-0.000026
1555079880,1.0,238.0,5063.898571,5107.1,5031.25,5064.487143,35.684000,5064.033077,-0.001657,0.000076
1555079940,1.0,382.0,5064.262857,5106.1,5032.44,5063.688571,69.868692,5064.060058,-0.000344,-0.000158

In [5]:
import AlphaCode as ac

In [6]:
stock = ac.Alphas(data)

In [10]:
df = pd.DataFrame(data={'Animal': ['cat', 'penguin', 'dog',
                                   'spider', 'snake'],
                        'Number_legs': [4, 2, 4, 8, np.nan]})
df

    Animal  Number_legs
0      cat          4.0
1  penguin          2.0
2      dog          4.0
3   spider          8.0
4    snake          NaN

In [15]:
df.rank(0, pct=True)

   Animal  Number_legs
0     0.2        0.625
1     0.6        0.250
2     0.4        0.625
3     1.0        1.000
4     0.8          NaN

In [17]:
temp.isna().sum()

38

In [13]:
temp = ac.correlation(ac.ts_rank(((stock.high + stock.low) / 2), 4), ac.ts_rank(stock.volume, 10),7)
temp

timestamp
1514764920         NaN
1514764980         NaN
1514765040         NaN
1514765100         NaN
1514765160         NaN
                ...
1632182160   -0.093352
1632182220   -0.622495
1632182280   -0.654921
1632182340   -0.517107
1632182400   -0.170945
Length: 1956959, dtype: float64

In [14]:
temp.isna().sum()

16852

In [15]:
temp.fillna(0)

timestamp
1514764920    0.000000
1514764980    0.000000
1514765040    0.000000
1514765100    0.000000
1514765160    0.000000
                ...
1632182160   -0.093352
1632182220   -0.622495
1632182280   -0.654921
1632182340   -0.517107
1632182400   -0.170945
Length: 1956959, dtype: float64

In [32]:
ac.ts_rank(stock.volume, 10)

timestamp
1514764920     NaN
1514764980     NaN
1514765040     NaN
1514765100     NaN
1514765160     NaN
              ...
1632182160     4.0
1632182220     7.0
1632182280     6.0
1632182340    10.0
1632182400     9.0
Name: Volume, Length: 1956959, dtype: float64

In [14]:
ac.ts_sum(stock.close, 5), ac.ts_sum(stock.close, 20)

(timestamp
 1514764920              NaN
 1514764980              NaN
 1514765040              NaN
 1514765100              NaN
 1514765160     68839.482000
                   ...
 1632182160    214810.145717
 1632182220    214690.317681
 1632182280    214556.736253
 1632182340    214588.530538
 1632182400    214605.820714
 Name: Close, Length: 1956959, dtype: float64,
 timestamp
 1514764920              NaN
 1514764980              NaN
 1514765040              NaN
 1514765100              NaN
 1514765160              NaN
                   ...
 1632182160    856313.242717
 1632182220    856436.595931
 1632182280    856494.220217
 1632182340    856874.382360
 1632182400    857173.251110
 Name: Close, Length: 1956959, dtype: float64)

In [57]:
res = data2.isna().sum()
for i, r in enumerate(res):
    print(data2.columns[i], r)

Asset_ID 0
Count 0
Open 0
High 0
Low 0
Close 14
Volume 0
VWAP 0
Target 0
Returns 0
alpha001 23
alpha002 0
alpha003 0
alpha004 8
alpha005 14
alpha006 0
alpha007 45
alpha008 14
alpha009 19
alpha010 19
alpha011 21
alpha012 19
alpha013 23
alpha014 3
alpha015 2
alpha016 4
alpha017 28
alpha018 23
alpha019 249
alpha020 15
alpha021 0
alpha022 38
alpha023 0
alpha024 20
alpha025 19
alpha026 2
alpha027 6
alpha028 14
alpha029 29
alpha030 22
alpha031 20
alpha032 253
alpha033 14
alpha034 19
alpha035 34
alpha036 226
alpha037 219
alpha038 9
alpha039 249
alpha040 301
alpha041 0
alpha042 14
alpha043 38
alpha044 0
alpha045 401161
alpha046 19
alpha047 19
alpha049 19
alpha050 15
alpha051 19
alpha052 239
alpha053 23
alpha054 14
alpha055 0
alpha057 14
alpha060 28
alpha061 0
alpha062 0
alpha064 0
alpha065 0
alpha066 2043
alpha068 0
alpha071 15
alpha072 0
alpha073 16
alpha074 0
alpha075 0
alpha077 0
alpha078 64
alpha081 0
alpha083 132
alpha084 34
alpha085 16875
alpha086 0
alpha088 2
alpha092 18
alpha094 151
alpha095 0
alpha096 12
alpha098 0
alpha099 0
alpha101 14